@media screen and (min-width: 992px) {
    
    /* * * Ps plus */
    .ps-plus-img-md img {
        width: 70%;
    }

    /* * * Ps now */
    .ps-now-img img {
        width: 60%;
    }

    /* * * Social */
    .social img {
        width: 156px;
    }
};