/* * * General */

h2 {
    padding: 10px 0;
    font-size: 2rem;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    line-height: 2rem;
}

a {
    text-decoration: none;
}

/* * * Utilities */

.log-in {
    border-radius: 30px;
}

.buy-now {
    background-color: #CD3D0F;
    border-radius: 30px;
    border: 0 solid transparent;
    margin: 20px 0 50px 0;
    font-weight: bold;
}

.discover-more {
    border-radius: 30px;
    margin-bottom: 20px;
}

.explore-more-btn {
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: #D9DADC;
    color: #006FCD;
}

/* * * Header */

header {
    height: 120px;
}

.top-header {
    height: 40px;
    background-color: black;
}

.top-header img {
    width: 70px;
}

.bottom-header {
    font-weight: 500;
}

/* * * Main games */
/* Top main games */

.top-main-games {
    background-image: url(img/img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 600px;
}

.top-main-games * {
    color: white;
}

.top-main-games .container-fluid, .top-main-games .row {
    height: 100%;
}

.top-main-games .row {
    align-content: flex-end;
}

.top-main-games img {
    width: 250px;
    margin-bottom: 30px;
}

/* Bottom main games */

.bottom-main-games img {
    border-radius: 20px;
}

#focused-bottom-main-games {
    border: 2px solid #006FCD;
    padding: 2px;
}


/* * * Ps5 */

.overtitle {
    color: #006FCD;
    text-transform: uppercase;
    font-weight: bold;
}

.title-ps5 h2 {
    padding-top: 0;
}

.btn-radius {
    border-radius: 30px;
}

.focus-img {
    border-bottom: 2px solid #006FCD;
}

.not-focus-img {
    opacity: 0.5;
}


/* * * New games */

.main-new-games {
    background-image: url(img/img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 550px;
}

.others-new-games {
    padding-top: 10px;
}

.new-games * {
    color: white;
}

.main-new-games img {
    width: 250px;
    margin-bottom: 30px;
}

.dark-bkg-new-games {
    background-color: #1F1F1F;
}

.layout-others-new-games {
    padding-bottom: 20px;
}

.layout-others-new-games img {
    border-radius: 20px;
    padding-bottom: 10px;
}



/* * * Playstation plus */

.ps-plus {
    background-color: #BEBCBB;
}

.ps-plus-copy img {
    width: 250px;
    margin: 15px 0 20px 0;
}


/* * * Sales */

.sales {
    padding-top: 30px;
}


/* * * Playstation now */

.ps-now {
    background-color: #161C3B;
    padding: 30px 0;
}

.ps-now-copy img {
    width: 250px;
    margin: 15px 0 20px 0;
}

.ps-now-img img {
    width: 70%;
}


/* * * Social */

.social h2 {
    padding: 50px 0;
    text-align: center;
}


/* * * Footer */

footer {
    color: white;
    background-color: #00439C;
}

footer img {
    width: 100px;
    margin-top: 40px;
}

footer a {
    color: white;
}

.bottom-footer a {
    text-decoration: underline;
}