/* * * General */


/* * * Utilities */


/* * * Header */
/* Top header */

header {
    height: 100px;
}

.top-header {
    height: calc(100% / 3);
    background-color: black;
}

.top-header img {
    width: 70px;
}

